body {
	background: url("./tc-background.jpg")no-repeat center center fixed;
	background-size: cover;
		}

h1 {
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}

p {
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 20px;
}

.fb-comments {
	padding-left: 25%;
	padding-right: 25%;
}

.fb-like {
	padding-left: 42%;
	padding-right: 40%;
}

.article-pic {
	width: 65%;
	height: 65%;
}